<div class="container-fluid row">
    <div class="col-sm-4 flx"><img ng-src="img/products/{{product.sku}}.jpeg" alt="{{product.name}}"/>
        <br /></div>
    <div class="col-sm-8"><h1 style="font-style: italic;color: #99356b">{{product.name}}: {{product.description}}</h1>
       <span style="font-size:2.0em;"> Be it a party, a casual day out or even a formal gathering, no attire is complete without the right top wear. You can choose from a range of shirts and t-shirts to suit your needs and cater to the demand of the occasion. Choose from an array of printed or solid t-shirts for men. Youngsters can opt for a comic t-shirt such as a Batman or Superman graphic t-shirt, while the sports buff can take a look at the football and IPL t-shirts. You can choose from stripes to checks and plain formal shirts. Take a look at a casual shirt with roll up lapels for a semi-formal look or choose a mandarin collared party wear shirt to create a style statement.
</span>     <br>  <button class="btn btn-success"style="padding-right:5%;padding-left: 5%;color:red">Buy</br>{{product.price | currency}}</button>

    </div>

</div>

