

<div class="row "style="" >
    <div class="col-sm-4 flx" ng-repeat="product in store.products | orderBy:'name' | filter:search"ng-class="{red: hover}"
         ng-mouseenter="hover = true"
         ng-mouseleave="hover = false" >
        <a href="#/products/{{product.sku}}"  >        <div class="row-fluid"><div class="span4 "> <img ng-src="img/products/{{product.sku}}.jpeg" alt="{{product.name}}"/>
        </div>

                <div class="span4 ">
            <span style="display:block;text-align: center;white-space:nowrap;width: 70%;margin: 0 auto;overflow:hidden;text-overflow: ellipsis;">{{product.name}}</span>
        <br></div>
    <div class="span4 "style="align-items: center">
       <button class="btn btn-info" style="display:flex;align-items: center;margin: 0 auto;" >Buy {{product.price | currency}}</button>
    </div>
    </div>
        </a>
</div>
</div>